#
# Source Distribution Manifest
#
# More at http://docs.python.org/distutils/sourcedist.html

include README.md
include LICENSE
include pavement.py
include setup.py
include paver-minilib.zip
include setup.cfg

recursive-include debian changelog control rules
